USE [ChengXiPipeLine]
GO
/****** Object:  Table [dbo].[equipment_type_template]    Script Date: 2020/12/25 15:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[equipment_type_template](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](32) NOT NULL,
	[name] [varchar](32) NULL,
	[description] [varchar](255) NULL,
	[equipmentTypeId] [int] NULL,
	[propType] [varchar](32) NULL,
	[dataType] [varchar](32) NULL,
	[address] [varchar](32) NULL,
	[offset] [varchar](10) NULL,
	[monitorCompareValue] [varchar](32) NULL,
	[monitorNormal] [nvarchar](100) NULL,
	[monitorFailure] [nvarchar](100) NULL,
	[isMonitor] [bit] NOT NULL,
	[createTime] [datetime2](7) NULL,
	[createBy] [varchar](16) NULL,
	[updateTime] [datetime2](7) NULL,
	[updateBy] [varchar](16) NULL,
 CONSTRAINT [PK__equipmen__3213E83FD0274C3B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[equipment_type_template] ON 

INSERT [dbo].[equipment_type_template] ([id], [code], [name], [description], [equipmentTypeId], [propType], [dataType], [address], [offset], [monitorCompareValue], [monitorNormal], [monitorFailure], [isMonitor], [createTime], [createBy], [updateTime], [updateBy]) VALUES (499, N'Cmd_Enabled', N'可接受输入信号', N'可接受输入信号', 5, N'PLC_BackgroundRead', N'BOOL', N'', NULL, NULL, NULL, NULL, 0, CAST(0x07C055E6F58AC1400B AS DateTime2), N'admin', CAST(0x07E0022E688BC1400B AS DateTime2), N'admin')
INSERT [dbo].[equipment_type_template] ([id], [code], [name], [description], [equipmentTypeId], [propType], [dataType], [address], [offset], [monitorCompareValue], [monitorNormal], [monitorFailure], [isMonitor], [createTime], [createBy], [updateTime], [updateBy]) VALUES (500, N'System_Ready', N'伺服准备就绪', N'伺服准备就绪', 5, N'PLC_BackgroundRead', N'BOOL', N'', NULL, NULL, NULL, NULL, 0, CAST(0x07107A15FD8AC1400B AS DateTime2), N'admin', CAST(0x07D04BB06B8BC1400B AS DateTime2), N'admin')
INSERT [dbo].[equipment_type_template] ([id], [code], [name], [description], [equipmentTypeId], [propType], [dataType], [address], [offset], [monitorCompareValue], [monitorNormal], [monitorFailure], [isMonitor], [createTime], [createBy], [updateTime], [updateBy]) VALUES (501, N'Prg_running', N'程序运行中', N'程序运行中', 5, N'PLC_BackgroundRead', N'BOOL', N'', NULL, NULL, NULL, NULL, 0, CAST(0x07D0BFF4178BC1400B AS DateTime2), N'admin', CAST(0x074006E66F8BC1400B AS DateTime2), N'admin')
GO
SET IDENTITY_INSERT [dbo].[equipment_type_template] OFF
ALTER TABLE [dbo].[equipment_type_template] ADD  DEFAULT ('0') FOR [isMonitor]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'设备类型代号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'设备类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'equipmentTypeId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'属性类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'propType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数据类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'dataType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'偏移量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'offset'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'监控参照值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'monitorCompareValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'正常的文本说明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'monitorNormal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'异常的文本说明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'monitorFailure'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否监控' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'isMonitor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建立时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'createTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建立者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'createBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'updateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template', @level2type=N'COLUMN',@level2name=N'updateBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'设备类型模板' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'equipment_type_template'
GO
