<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--本地测试-->
    <add key="ConnectionStr" value="Data Source=.;Initial Catalog=ZhongYuanPipeLine;Persist Security Info=True;User ID=sa;Password=Abc123" />
    <!--<add key="ConnectionString" value="Data Source= ;Initial Catalog=ZhongYuanPipe;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ" />-->
	  <!--<add key="ConnectionStr" value="Data Source=.;Initial Catalog=ZhongYuanPipeLine ;Persist Security Info=True;User ID=pipeLine;Password=1qaz!QAZ" />-->
	  <add key="loss" value="0.1" />
    <add key="plcID" value="5.18.191.254.1.1" />
    <add key="cutNum" value="15" />
    <add key="papeQty" value="8" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>